.userContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
  column-count: 3;
  margin-top: 30px;
  float: left;
  width: 33%;
  height: 400px;
  padding: 5px;
  position:relative;
}

@media screen and (max-width: 740px) {
  .userContainer {
    width: 100%;
  }
}

.userContainerCol {
  padding-right: 0;
  padding-left: 0;
}

#individCol {
  width: 100%;
  height: 100%;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: 0 5px 35px 0px rgba(0, 0, 0, 0.1); */
  flex-direction: column;
  /* animation: changeShadow 5s infinite; */
}

@keyframes changeShadow {
  50% {
    box-shadow: 0 0px 15px 5px #fbd6c8;
  }
}

.imageDiv {
  height: 350px;
  width: 80%;
  display: flex;
  justify-content: center;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  padding: 5px;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .imageDiv {
    height: 280px;
  }
}

@media screen and (max-width: 740px) {
  .imageDiv {
    height: 280px;
  }
}

.userImages {
  width: 100%;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
  object-fit: cover;
  box-shadow: 0 5px 35px 0px rgba(0, 0, 0, 0.1);
  transition: 2s box-shadow;
  object-fit: cover;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

/* ----CSS for text over image ---- */
.threadDiv {
  position:absolute;
  top: 25px;
  left: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 340px;
  width: 75%;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background: rgba(0, 0, 0, 0.2);
}

.threadDiv:hover {
  opacity: 0.8;
  cursor: pointer;
}

.threadDiv:active {
  opacity: 0.5;
}

@media screen and (max-width: 1200px) {
  .threadDiv {
    height: 275px !important;
    top: 58px !important;
    left: 38px;
  }
}

@media screen and (max-width: 740px) {
  .threadDiv {
    height: 280px;
    left: 47px;
  }
}

.threadContent {
  width:100%;
  padding-top:13.5%;  
  text-align:center;
  font-weight:bold;
  font-size:5vw;
  color:white;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1200px) {
  .threadContent{
    font-size:40px;
  }
}

h6 span { 
   color: white; 
   font-family: 'Open Sans', sans-serif; 
   font-size: 25px;
   letter-spacing: -1px;  
   padding: 10px; 
}  

.imageModal .modal-header {
  border: none;
  background-color: rgb(250, 228, 220);
}

.imageModal .modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(250, 228, 220);
}

.imageModal .modal-content {
  width: 50vw;
  min-height: 100vh;
}

.imageModal .modal-dialog {
  margin-left: 25vw;
  margin-top: 0;
  margin-bottom: 0;
}

.imageModal .modal-footer {
  border: none;
  padding: 0 auto;
  background-color: rgb(250, 228, 220);
}

@media screen and (max-width: 740px) {
  .imageModal .modal-content {
    width: 100vw;
  }

  .imageModal .modal-dialog {
    margin: 0;
  }
}

.returnToHome {
  background-color: #FBD6C8;
  color: black;
  border: 2px solid #FBA589;
  font-family: 'Open Sans', sans-serif;
}

.returnToHome:hover {
  background-color: #FBA589;
  border: 2px solid #FBA589;
}

.returnToHome:active {
  background-color: #FBA589 !important;
  border: 2px solid #FBA589 !important;
  outline: none !important;
}

.enlargedImage {
  width: 45vw;
  object-fit: cover;
}

.commentWrapperHome {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media screen and (max-width: 740px) {
  .imageModal .modal-content {
    width: 100vw;
  }

  .imageModal .modal-dialog {
    margin: 0;
  }

  .enlargedImage {
    width: 100vw;
  }
}
