.commentLikeDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.commentLikeButton {
  background-color: #FBD6C8;
  border: 2px solid pink;
  border-radius: 50%;
  margin-right: 10px;
}

.commentLikeButton:active {
  background-color: pink;
}

.commentLikeButton:focus {
  background-color: pink;
  outline: none;
}