#emergencyContainer {
  width: 100vw; 
  font-family: 'Raleway';
  margin-top: 10vh;
}

.emergencyForm {
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#emergencyInput {
  border-radius: 10px;
  border: 1px solid #D2D0D0;
  height: 64px;
  margin-top: 10px;
  background-color: white;
  width: 100%;
  /* box-shadow: 0 0 5px -1px #FBA589; */
}

/* #emergencyInput:focus {
  box-shadow: 0 0 7px -1px #FBA589;
} */

#emergencyInput option {
  width: 200px;
}

.emergencyField {
  margin-top: 20px;
  margin-bottom: -6px;
}

.addEmergency {
  margin-top: 20px;
  border-radius: 25px;
  color: black;
  border: none;
  padding: 10px;
  width: 100%;
  background-color: #FBD6C8;
  /* border: 1px solid #FBA589; */
  box-shadow: 0 4px 12px -1px rgba(18, 22, 33, 0.08);
  /* box-shadow: 0 0px 7px -1px rgb(248, 93, 131); */
  /* background: linear-gradient(105deg, rgb(76, 125, 231), rgb(207, 18, 207), rgb(243, 112, 151)); */
}

.addEmergency:hover {
  color: #584646;
}