#addThoughtsContainer {
  font-family: 'Open Sans', sans-serif;
}

.addYourThoughts {
  background-color: #F7BDA9;
  margin-top: 10px;
  height: 100px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.addThoughtsPost {
  background-color: #FBD6C8;
  border: none;
  border-radius: 5px;
  width: 140px;
  margin-left: 20px;
}

.addThoughtsTextArea {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  border: none;
  background-color: #FBD6C8;
  background: url(/pinkpaper.JPG) center center no-repeat;
  background-size: cover;
  padding: 10px;
  padding-left: 55px;
  padding-right: 55px;
  font-family: 'Special Elite', cursive;
  line-height: 3.3;
  background-blend-mode: lighten;
}

@media screen and (max-width: 1000px) {
  .addThoughtsTextArea {
    padding-top: 30px;
    line-height: 2.4;
  }
}

@media screen and (max-width: 750px) {
  .addThoughtsTextArea {
    padding-top: 0;
    line-height: 1.8;
  }
}

@media screen and (max-width: 740px) {
  .addThoughtsTextArea {
    padding-top: 20px;
    line-height: 1.65;
  }

  .addYourThoughts {
    font-size: 20px;
  }

  .addThoughtsPost {
    width: 80px;
  }
}

.addThoughtsTextArea::placeholder {
  color: black;
  text-align: center;
  padding-top: 195px;
}

.addThoughtsTextArea:focus {
  outline: none;
  /* background: none;   */
  background-color: #FBD6C8;
}