#anonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

.createAccount {
  margin-top: 20px;
  /* background-color: #FBA589; */
  /* box-shadow: 0 0 1px 0px coral; */
  /* background: linear-gradient(105deg, rgb(76, 125, 231), rgb(207, 18, 207), rgb(243, 112, 151)); */
  border: none;
  border-radius: 10px;
  width: 80%;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  margin-bottom: 20px;
}

.createAccount:hover {
  text-decoration: none;
  /* color: white; */
}

.createAccount:active {
  text-decoration: none;
  /* color: white; */
}

.anonymousLink {
  margin-top: 20px;
  /* background-color: #FBD6C8; */
  /* box-shadow: 0 0 1px 0px coral; */
  /* background: linear-gradient(105deg, rgb(76, 125, 231), rgb(207, 18, 207), rgb(243, 112, 151)); */
  border: none;
  border-radius: 10px;
  width: 80%;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 40px;
}

.anonymousLink:hover {
  text-decoration: none;
  /* color: coral; */
}

.anonymousLink:active {
  text-decoration: none;
  /* color: coral; */
}