#EmergencyContainer {
  width: 100vw; 
  font-family: 'Raleway';
  margin-top: 10vh;
}

.EmergencyForm {
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.EmergencyField {
  padding-top: 10px;
  font-weight: bold;
}

.AddEmergency {
  margin-top: 20px;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  border: none;
  background: linear-gradient(105deg, rgb(76, 125, 231), rgb(207, 18, 207), rgb(243, 112, 151));
}