.faqDiv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  color: #584646;
}

.faqPinkDiv {
  background-color: #FBD6C8;
  margin-top: 10px;
  height: 160px;
  width: 77.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

@media screen and (max-width: 740px) {
  .faqPinkDiv {
    width: 100%;
    border-radius: 0;
  }
}

#faqAccordionDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accordion {
  margin-top: 20px;
  width: 100%;
}

.questionCardHeader {
  background-color: white !important;
  border: 2px solid #FBD6C8;
}

.questionCard {
  color: #584646 !important;
  text-decoration:none !important;
  height: 80px;
  background-color: white !important;
  border: none !important;
  display: flex;
  align-items:center;
  cursor: pointer;
}

.questionCard:hover {
  text-decoration: none !important;
  color: coral !important;
}

.questionCard:active {
  text-decoration: none !important;
  color: coral !important;
}

.answerCard {
  background-color: #FBD6C8;
}