body{
  min-height:100vh;
  /* background-image: url(/beach_background.JPG);
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: lightskyblue;
}

.FrontFacePicture {
  opacity: 0.8;
  position: fixed; 
  top: 0; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  background-image: url(/frontface.JPG); 
  background-repeat: no-repeat; 
  background-size: fill; 
  z-index: -99999;
}

.logo {
  font-family: 'Alex Brush', cursive;
  color: white;
  position: absolute;
  left: 1vw;
  top: 1vh;
  font-size: 60px;
}

.Quotes {
  font-size: 20px;
  color: lightskyblue;
}

@media screen and (max-width: 740px) {
  .logo {
    font-size: 35px;
  }

  .Quotes {
    font-size: 15px;
  }

  .SignUpButton {
    font-size: 10px;
  }

  .FrontFacePicture {
    background-size: cover;
  }
}

@keyframes FadeIn2 {
  0% {
    opacity: 0;
    color: rgb(247, 92, 92);
  }

  25%{
    color: rgb(85, 177, 238);
  }

  50% {
    opacity: 0.5;
    /* color: rgb(211, 112, 211); */
    color: white
  }

  75% {
    color: rgb(236, 177, 187);
  }

  100% {
    opacity: 0;
    color: rgb(247, 92, 92);
  }
}

#CanDoThis {
  position: absolute;
  top: 15vw;
  right: 25vw;
  animation: 5s ease-in-out 2s infinite normal backwards FadeIn2;
  color: transparent;
  font-weight: bold;
  font-family: 'Kalam', cursive;
}

#ChangeToday {
  position: absolute;
  right: 30px;
  top: 340px;
  animation: 5s ease-in-out 1s infinite normal forwards FadeIn2;
  color: transparent;
  font-weight: bold;
  font-family: 'Kalam', cursive;
}

#DontWorry {
  position: absolute;
  bottom: 5vh;
  left: 25vw;
  animation: 5s ease-in-out 5s infinite normal backwards FadeIn2;
  color: transparent;
  font-weight: bold;
  font-family: 'Kalam', cursive;
}

#JamesBlunt {
  position: absolute;
  bottom: 45vh;
  right: 35vw;
  animation: 5s ease-in-out 4s infinite normal forwards FadeIn2;
  color: transparent;
  font-weight: bold;
  font-family: 'Kalam', cursive;
}

#AreLoved {
  position: absolute;
  top: 35vw;
  left: 10vw;
  animation: 5s ease-in-out 3s infinite normal forwards FadeIn2;
  color: transparent;
  font-weight: bold;
  font-family: 'Kalam', cursive;
}

.SignUpButton {
  border: none;
  background-color: transparent;
  color: white;
  font-weight: bold;
  font-size: 60px;
  font-family: 'ProximaNovaCond-Black',sans-serif;
  position: relative;
  border: 3px solid transparent;
  padding: 20px;

}

.SignUpButton:hover {
  text-decoration: none;
}

#SignUpButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height:100vh;
  display: flex;
  justify-content:center;
  align-items: center;
}

@media screen and (max-width: 740px) {
  .SignUpButton {
    font-size: 30px;
  }
}

/* .SignUpButton {
  position: relative;
  border: 3px solid transparent;
  display: block;
  justify-content: center;
  color: white;
  background-color: lavenderblush;
  margin: 0 auto;
} */

.SignUpButton:before{
  /* cursor:pointer;
	position:relative;
	padding:10px 20px;
	background:pink;
	font-size:28px;
  border-top-right-radius:10px;
  border-bottom-left-radius:10px;
  border-bottom:5px solid black;
  border-right:5px solid black;
  transition:all 0.5s; */
  content: '';
  position:absolute;
  top: -3px;
  left: -3px;
  width: 0%;
  height: 0%;
  background: transparent;
  border: 3px solid transparent;
  box-sizing: content-box !important;

}

	.SignUpButton:hover:before{
    /* border-top-left-radius:10px;
    border-bottom-right-radius:10px;
    border-bottom: 5px solid black;
    border-top: 5px solid black; */
    animation: animate 1s linear forwards;
    /* border: 5px solid rgb(245, 106, 147); */
  }

  	.SignUpButton:active:before{
    /* border-top-left-radius:10px;
    border-bottom-right-radius:10px;
    border-bottom: 5px solid black;
    border-top: 5px solid black; */
    animation: animate 1s linear forwards;
    /* border: 5px solid rgb(245, 106, 147); */
  }

  @keyframes animate {
  0%
  {
    width: 0%;
    height:0%;
    border-top-color:white;
    border-right-color:transparent;
    border-bottom-color:transparent;
    border-left-color:transparent;
  }
  50%
  {
    width: 0%;
    height:100%;
    border-top-color:white;
    border-right-color:white;
    border-bottom-color:transparent;
    border-left-color:transparent;
  }
  100%
  {
    width: 100%;
    height:100%;
    border-top-color:white;
    border-right-color:white;
    border-bottom-color:transparent;
    border-left-color:transparent;
  }
}

.SignUpButton:after {
  content: '';
  position:absolute;
  top: -2px;
  left: -3px;
  width: 100%;
  height: 100%;
  background:transparent;
  border: 3px solid transparent;
  box-sizing: content-box !important;
}

.SignUpButton:hover:after {
  animation: animate2 1s linear forwards;
  /* animation-delay: 1s; */
}

.SignUpButton:active:after {
  animation: animate2 1s linear forwards;
  /* animation-delay: 1s; */
}

@keyframes animate2 {
  0%
  {
    width: 0%;
    height:0%;
    border-top-color:transparent;
    border-right-color:transparent;
    border-bottom-color:white;
    border-left-color:transparent;
  }
  50%
  {
    width: 100%;
    height:0%;
    border-top-color:transparent;
    border-right-color:transparent;
    border-bottom-color:white;
    border-left-color:white;
  }
  100%
  {
    width: 100%;
    height:100%;
    border-top-color:transparent;
    border-right-color:transparent;
    border-bottom-color:white;
    border-left-color:white;
  }
}

