body {
  min-height:100vh;
  background-color: white;
}

.quotes {
  font-size: 20px;
  color: lightskyblue;
}

@media screen and (max-width: 740px) {
  .quotes {
    font-size: 15px;
  }
}

@keyframes FadeIn2 {
  0% {
    opacity: 0;
    color: rgb(247, 92, 92);
  }

  25%{
    color: rgb(85, 177, 238);
  }

  50% {
    opacity: 0.5;
    /* color: rgb(211, 112, 211); */
    color: white
  }

  75% {
    color: rgb(236, 177, 187);
  }

  100% {
    opacity: 0;
    color: rgb(247, 92, 92);
  }
}

#canDoThis {
  position: absolute;
  top: 15vw;
  right: 25vw;
  animation: 5s ease-in-out 2s infinite normal backwards FadeIn2;
  color: transparent;
  font-weight: bold;
  font-family: 'Kalam', cursive;
  z-index: -1;
}

#changeToday {
  position: absolute;
  right: 30px;
  top: 340px;
  animation: 5s ease-in-out 1s infinite normal forwards FadeIn2;
  color: transparent;
  font-weight: bold;
  font-family: 'Kalam', cursive;
  z-index: -1;
}

#dontWorry {
  position: absolute;
  bottom: 5vh;
  left: 25vw;
  animation: 5s ease-in-out 5s infinite normal backwards FadeIn2;
  color: transparent;
  font-weight: bold;
  font-family: 'Kalam', cursive;
  z-index: -1;
}

#jamesBlunt {
  position: absolute;
  bottom: 45vh;
  right: 35vw;
  animation: 5s ease-in-out 4s infinite normal forwards FadeIn2;
  color: transparent;
  font-weight: bold;
  font-family: 'Kalam', cursive;
  z-index: -1;
}

#areLoved {
  position: absolute;
  top: 35vw;
  left: 10vw;
  animation: 5s ease-in-out 3s infinite normal forwards FadeIn2;
  color: transparent;
  font-weight: bold;
  font-family: 'Kalam', cursive;
  z-index: -1;
}

#goSlowly {
  position: absolute;
  bottom: 17vh;
  right: 17vw;
  animation: 5s ease-in-out 3s infinite normal forwards FadeIn2;
  color: transparent;
  font-weight: bold;
  font-family: 'Kalam', cursive;
  z-index: -1;
}