#logInContainer {
  width: 100vw;
  font-family: 'Raleway';
  margin-top: 10vh;
}

.logInLogo {
  margin-bottom: 10px;
  animation: 1s ease-in-out 0s 1 flipInY;
}

@media screen and (max-width: 500px) {
  .logInLogo {
    width: 200px;
  }
}

#loginStuff {
  width: 100%;
  display: flex;
  flex-direction: column;  
  align-items: center;
  margin-top: 10px;
}

#logInInput {
  border-radius: 10px;
  border: none;
  /* box-shadow: 0 5px 35px 0px rgba(0,0,0,.1); */
  border: 1px solid #D2D0D0;
  height: 64px;
  margin-top: 10px;
}

.logInBtn {
  margin-top: 20px;
  background-color: #FBD6C8;
  box-shadow: 0 0 1px 0px coral;
  /* background: linear-gradient(105deg, rgb(76, 125, 231), rgb(207, 18, 207), rgb(243, 112, 151)); */
  border: none;
  border-radius: 10px;
  width: 100%;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.logInBtn:hover {
  text-decoration: none;
  color: coral;
}

.logInBtn:active {
  text-decoration: none;
  color: coral;
}

.loginChangedMeMind {
  margin-top: 10px;
  color: black;
  font-size: 11px;
  font-weight: 300;
  margin-bottom: 40px;
}

.loginChangedMeMind:hover {
  color: grey;
  text-decoration:none;
}