#modalLinkDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -15vh;
}

#modalLinkDiv #Link {
  text-decoration: none;
  font-size: 5vw;
  font-family: 'ProximaNovaCond-Black',sans-serif;
}

.modal-content {
  width: 100vw;
  height: 100vh;
}

.modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.modal-header {
  border: none;
}

.modal-dialog {
  margin:0;
}

.barsModalButton {
  position: fixed;
  top: 0;
  right: 0;
  width: 3vw;
  height: 3vw;
  background-color:#007bff;
  border-radius:50%;
  border:none;
  color:white;
  margin-top: 2vh;
  margin-right:2vw;
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.barsModalButton:hover {
  transform: rotate(360deg);
  color:darkslategrey;
  background-color: white;
}

.barsModalButton:active {
  transform: rotate(360deg);
  color:darkslategrey;
  background-color: white;
}

.barsModalButton i {
  font-size: 1vw;
}

.barsModalButton2 {
  float: right;
  width: 3vw;
  height: 3vw;
  background-color: #007bff;
  border-radius:50%;
  border:none;
  color:white;
  margin-top: 1vh;
  margin-right:1vw;
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
  min-width: 20px;
  min-height: 20px;
}

.barsModalButton2:hover {
  transform: rotate(360deg);
  background-color: darkslategrey;
}

.barsModalButton2:active {
  transform: rotate(360deg);
  background-color: darkslategrey;
}

.closebarsModalButton2 {
  display: flex;
  justify-content: flex-end;
  margin-top: -1vh;
  margin-right: -1vw;
}
