.navbar {
  background-color: rgb(250, 229, 223);
  display: flex;
  justify-content: center;
  height: 60px;
  width: 100%;
  position: fixed !important;
  top: 0;
  z-index: 999;
}

.addButton {
  position: relative;
  top: -3.5px;
  left: 20px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  color: #747779;
  font-size: 30px;
  cursor: pointer;
}

.addButton:hover {
  background-color: transparent;
}

.addButton:active {
  background-color: transparent;
}

@media screen and (max-width: 740px) {
  .addButton {
    left: 0;
  }
}

.actualAddButton {
  background-color: #FBA589  !important;
  border: none !important;
  font-family: 'Open Sans', sans-serif !important;
  box-shadow: 0 0px 12px -1px rgba(18, 22, 33, 0.08);
}

.actualAddButton:hover {
  background-color: #FBD6C8!important;
  color: black !important;
  outline: none !important;
}

.logoNoMarbles {
  width: 80px;
  margin-top: -21px;
  margin-left: -30px;
}

.barsModalButton {
  position: relative;
  right: 20px;
  width: 30px;
  height: 30px;
  background-color:transparent;
  border-radius:50%;
  border:none;
  color: #747779;
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.barsModalButton:hover {
  transform: rotate(360deg);
  color:#747779;
  background-color: transparent;
}

.barsModalButton:active {
  transform: rotate(360deg);
  color:#747779;
  background-color: transparent;
}

@media screen and (max-width: 740px) {
  .barsModalButton {
    right: 0;
  }
}

#barsModalButtonIcon {
  font-size: 15px;
}

.navModal .modal-content {
  width: 100vw;
  min-height: 100vh;
}

.navModal .modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.navModal .modal-header {
  border: none;
}

.navModal .modal-dialog {
  margin:0;
}

.barsModalButton2 {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius:50%;
  border:none;
  color:coral;
  /* margin-top: 1vh; */
  margin-left: 1vw;
  /* margin-top: 1vh; */
  /* margin-right:1vw; */
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.barsModalButton2:hover {
  transform: rotate(360deg);
  background-color: transparent;
  color: darkslategrey;
}

.barsModalButton2:active {
  transform: rotate(360deg);
  background-color: coral;
}

#modalLinkDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -15vh;
}

.pinkHoverDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 20px;
  background-color: transparent;
}

.pinkHoverDiv:hover {
  background-color: #FBD6C8;
  color: black;
}

.pinkHoverDiv:active {
  background-color: rgb(247, 197, 179);
  color: black;
}

.accountInfoLink {
  text-decoration: none;
  font-size: 40px;
  font-family: 'Raleway';
  color: coral;
}

.accountInfoLink:hover {
  text-decoration: none;
  color: black;
}

.accountInfoLink:focus {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 740px) {
  .accountInfoLink {
    font-size: 20px;
    margin: 0.1em 0;
  }
}

.modalButtonX {
  margin-left: 97%;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius:50%;
  border:none;
  color:coral;
  margin-right:2vw;
  transition: 1s;
  font-size: 15px;
}

.modalButtonX:hover {
  transform: rotate(360deg);
  background-color: transparent;
  color: darkslategrey;
}

.modalButtonX:active {
  transform: rotate(360deg);
  background-color: coral;
}

.imagePreviewModal .modal-header {
  border-bottom: none;
  background-color: transparent;
}

.imagePreviewModal .modal-body {
  border-top: none;
  background-color: transparent;
}
