#PanicSurrounding {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.Panic {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  /* border-radius: 50%; */
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  flex-wrap: wrap;
  height: 500px;
  width: 500px;
  /* transition: 2s box-shadow; */
  box-shadow: 0 0 5px 3px rgb(212, 3, 3);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.Panic:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.Panic:hover {
  background-color: #3e8e41;
}


.Panic a {
  color: white;
  text-decoration: none;
}

/* .Panic {
  height: 100px;
  width: 100px;
  margin: 50px;
  color: white;
  text-align: center;
  line-height: 100px;
  border-radius: 100px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  background: #e51d16; 
} */

.PanicSurround2 {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  background: #FBD6C8;
  box-shadow: inset 2px 2px 4px rgba(0,0,0,0.4);
  padding: 20px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.PanicSurround1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vw;
  /* border-radius: 50%; */
  z-index: -2;
  background: #ddd;
  /* box-shadow: inset 2px 2px 4px rgba(0,0,0,0.4); */
  margin-left: 20px;
  padding: 10px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

/* .Panic:after {
  content:"";
  width: 100%;
  height: 100%;
  display: block;
  z-index: -2;
  position: relative;
  padding: 25px;
  background: #eee;
  border-radius: 100px;
  box-shadow: inset 2px 2px 4px rgba(0,0,0,0.4);
} */
