#panicSurrounding {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  font-family: 'Open Sans', sans-serif;
}

.panic {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
}

.panic:active {
  transform: translateY(4px);
}

.panic:focus {
  outline: none;
  box-shadow: inset 2px 2px 14px rgba(0,0,0,0.4), 2px 2px 4px rgba(0,0,0,0.4);
}

.panic:hover {
  cursor: pointer;
}

@media (max-width: 740px) {
  .panic {
    width: 300px;
    height: 300px;
  }
}

.panicDisclaimer {
  text-align: center;
  margin-top: 30px;
}

.panicButtonContact {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
}
