#profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

.profilePicDisplay {
  /* border: 2px solid #FBA589; */
  /* background-color: #FBD6C8; */
  width: 220px;
  height: 250px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: flex; 
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.profileImagePreview {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.encouragementStarred {
  display: flex;
  flex-direction: row;
  width: 20%;
  justify-content: space-around;
  margin-top: 10px;
}

.encouragements {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileLink {
  margin-top: 20px;
  /* background-color: #FBD6C8; */
  /* box-shadow: 0 0 1px 0px coral; */
  /* background: linear-gradient(105deg, rgb(76, 125, 231), rgb(207, 18, 207), rgb(243, 112, 151)); */
  border: none;
  border-radius: 10px;
  width: 80%;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 40px;
}

.profileLink:hover {
  text-decoration: none;
  /* color: coral; */
}

.profileLink:active {
  text-decoration: none;
  /* color: coral; */
}

.addProfilePicModal .modal-header {
  border: none;
  /* background-color: lavenderblush; */
}

.addProfilePicModal .modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: lavenderblush; */
}

.addProfilePicModal .modal-content {
  width: 50vw;
  min-height: 100vh;
}

.addProfilePicModal .modal-dialog {
  margin-left: 25vw;
  margin-top: 0;
  margin-bottom: 0;
}

.addProfilePicModal .modal-footer {
  border: none;
  padding: 0 auto;
  background-color: lavenderblush;
}

@media screen and (max-width: 740px) {
  .addProfilePicModal .modal-content {
    width: 100vw;
  }

  .addProfilePicModal .modal-dialog {
    margin: 0;
  }
}

.profileBackButton {
  /* background-color: #FBD6C8;
  color: black;
  border: 2px solid #FBA589; */
  font-family: 'Open Sans', sans-serif;
}

/* .profileBackButton:hover {
  background-color: #FBA589;
  border: 2px solid #FBA589;
} */

/* .profileBackButton:active {
  background-color: #FBA589 !important;
  border: 2px solid #FBA589 !important;
  outline: none !important;
} */

.addImageWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
}

.profileImagePreviewDiv {
  width: 500px;
  height: 500px;
  /* background-color: #FBD6C8; */
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileImagePreview2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#addProfileImageInput{
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.chooseProfileImageButton {
  /* background-color: #FBD6C8; */
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.PostProfilePicButton {
  /* border: 2px solid #FBA589;
  background-color: #FBD6C8; */
  width: 100%;
  height: 60px;
  border-radius: 10px;
}
