#SignUpContainer {
  width: 100vw;
  margin-top: 10vh; 
  font-family: 'Raleway';
}

.SignUpHere {
  font-weight: bold;
}

.SignUpBtn {
  margin-top: 20px;
  background: linear-gradient(105deg, rgb(76, 125, 231), rgb(207, 18, 207), rgb(243, 112, 151));
  border: none;
  border-radius: 25px;
  width: 100%;
  color: white;
  padding: 10px;
  font-weight: bold;
}

.SignUpForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.SignUpField {
  padding-top: 10px;
  font-weight: bold;
}