#volunteerDiv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  color: #584646;
  margin-top: 30px;
}

.orgLogoImage {
  background-color: #FBD6C8;
  margin-top: 10px;
  border-radius: 10px;
  height: 260px;
  padding: 10px;
}

.befriendersPic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

@media screen and (max-width: 740px) {
  .befriendersPic {
    object-fit: fill;
  }
}

.brandName {
  font-weight: bold;
  margin-top: 20px;
  font-size: 30px;
}

.volunteerSocialMediaDiv {
  display: flex;
  flex-direction: row;
  width: 240px;
  justify-content: space-between;
  align-items: center;
}

.facebookIcon {
  color: #FBA589;
}

.twitterIcon {
  color: #FBA589;
}

.instagramIcon {
  color: #FBA589;
}

.socialName {
  font-weight: bold;
}

.volunteerButton {
  background-color: #FBD6C8;
  width: 200px;
  height: 50px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  width: 100px;
  display: flex;
  justify-content: center;
}

.volunteerLink {
  color: #584646;
}

.volunteerLink:hover {
  text-decoration: none;
  color: coral;
}

.volunteerTitle {
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
}

.volunteerModal {
  font-family: 'Open Sans', sans-serif;
  color: #584646;
}

.volunteerModalHeader {
  background-color:#FBD6C8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.volunteerModal .modal-content {
  width: 100vw;
  height: 100vh;
}

.volunteerModal .modal-dialog {
  margin: 0;
}

@media screen and (max-width: 740px) {
  .volunteer .modal-body {
    height: 300px;
  }
}

#volunteerInput {
  border-radius: 10px;
  border: none;
  /* box-shadow: 0 5px 35px 0px rgba(0,0,0,.1); */
  border: 1px solid #D2D0D0;
  height: 64px;
  margin-top: 10px;
}

.volunteerPhoneDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#volunteerInputPhoneCode {
  border-radius: 10px;
  border: none;
  border: 1px solid #D2D0D0;
  height: 64px;
  margin-top: 10px;
  background-color: white;
  color: #584646;
}

#volunteerInputPhone {
  border-radius: 10px;
  border: none;
  border: 1px solid #D2D0D0;
  height: 64px;
  margin-top: 10px;
  width: 100%;
  margin-left: 10px;
}

#volunteerInputPhone ::placeholder {
  display: flex;
  justify-self: center;
}

#volunteerCheckBoxContainerDiv {
  display: flex;
  flex-direction: column;
}

.volunteerMailDisclaimer {
  margin-top: 20px;
}

#volunteerCheckboxContainer {
  font-size: 13px;
}

.volunteerConsentCheckbox {
  margin-right: 10px;
}

.checkmark {
  width: 50px;
  height: 25px;
}

.letMeVolunteer {
  background-color: #FBD6C8;
  border-radius: 5px;
  border: none;
  color: black;
  height: 60px;
  font-size: 20px;
}

.letMeVolunteer:hover {
  color: #584646;
}

.volunteerCloseBtn {
  color: #584646;
  height: 40px;
  width: 135px;
}

.volunteerCloseBtn:hover {
  text-decoration: none;
  color: #726c6c;
}

.volunteerCloseBtn:active {
  text-decoration: none;
  color: #726c6c;
}